.about {
    height: 215px;
    overflow: hidden;

    .presentazione {
        padding: 15px;
    }

    .statistiche {
        height: 300px;

        .circle {
            height: 450px;
            width: 450px;
            border-radius: 50%;
            border: 1px solid grey;
            position: relative;
        }

        .circle-sovrapposto {
            height: 290;
            position: absolute;
            top: calc(50% - 145px);
            left: calc(50% - 145px);
            width: 290;
            border-radius: 50%;
            border: 1px solid grey;
            background-color: #e5e5e5;
        }
    }
}
