.services {
    height: 474px;
    background-color: #e5e5e5;

    .tabella {
        padding: 20px 15px;
        background-color: #fff;
        border-radius: 4px;

        h3 {
            margin-top: 0;
        }
    }
}
