$vendor-base-path: "../../../node-modules"; // App navbar links
$navbar-app-bg: rgba($navbar-inverse-bg, 0.2);
$navbar-app-border: darken($navbar-app-bg, 10%); // Inverted navbar links
$navbar-app-link-color: lighten($gray-light, 50%);
$navbar-app-link-hover-bg: rgba($navbar-inverse-bg, 0.3);
$navbar-app-link-active-bg: rgba($navbar-inverse-bg, 0.5);
