.triangolo {
    overflow: hidden;
    max-height: 80px;

    > div {
        width: 100%;
        height: 100px;
        transform: skew(0deg, -2.5deg);
        margin-top: 40px;
        background-color: $bianco;
    }
}
